*{
	padding: 0;
	margin:0;
}
body{
	background-image: url(hotel.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	box-sizing: border-box;

}
.Listing ul {
	display: inline-flex;
	list-style: none;

}
.Listing ul li{
width: 120px;
margin: 10px;
padding: 10px;
}

.Listing{
	text-align: center;
	background-color: green;

}
.Listing ul li a{
	text-decoration: none;
	color: white;
}
.Listing .fa{
	margin-right: 8px;
}
.Listing ul li:hover{
	background-color: darkgreen;
	border-radius: 3px;
}
.sublist{
	display: none;
}
.Listing ul li:hover .sublist{
	display: block;
	position: absolute;
	background-color: green;
	margin-top:10px;
	margin-left: -10px;
}
.Listing ul li:hover .sublist ul{
	display: block;
	margin: 10px;
}
.sublist2{
	display: none;
}
.hover:hover .sublist2{
	position: absolute;
	display: block;
	margin-top: -25px;
	margin-left: 120px;
	background-color: green;
}